# macOS
.DS_Store

# Vim
*.swp

# VS Code
.vscode/

# Personal SSH key
roles/bootstrap/files/access_key.pub

# SSL/TLS certificates and private keys
*.crt
*.key
!roles/nginx/files/openssl.cnf

# Ansible vault password file
.vault_pass
